[Unit]
Description=Blackbox Exporter
Wants=network-online.target
After=network-online.target

[Service]
#User=prometheus
ExecStart=/usr/local/bin/blackbox_exporter --config.file=/etc/prometheus/blackbox.yml

[Install]
WantedBy=default.target
